$width:       920px !default
$padding:     30px !default

$color:       #1e2022 !default
$background:  #fff !default
$font-family: "Arial", "Helvetica", sans-serif !default
$font-size:   12px !default

$warning:     #b35 !default
$notice:      #ffa !default

$field-width:     280px !default
$field-padding:   ($font-size / 2) !default
$label-width:     120px !default