=container($width: $width)
  width: $width
  margin-left: auto
  margin-right: auto

=float($side: none)
  *display: inline
  float: $side

=clearfix
  *zoom: 1
  &:after
    visibility: hidden
    display: block
    content: "\0020"
    height: 0
    clear: both

=image-replace
  display: block
  overflow: hidden
  background-repeat: no-repeat
  text-indent: -999em

=margin($multiple: 1)
  margin: (($padding / $multiple) / 2) ($padding / $multiple)

=padding($multiple: 1)
  padding: (($padding / $multiple) / 2) ($padding / $multiple)

