<!DOCTYPE html>
<html>
<head>
  <title>form</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  
  <form>
    <fieldset>
      
      <div class="field">
        <label>Text</label>
        <input />
        <p class="description">Description</p>
      </div>
      
      <div class="field-checkbox">
        <input type="checkbox" checked="true" />
        <label class="auto">Checkbox with a really really really really long label</label>
        <br clear="left">
        <input type="checkbox" checked="true" />
        <label class="auto">Checkbox with a really really really really long label</label>
        <p class="description">Description</p>
      </div>
      
      <div class="field">
        <label>Group</label>
      <div class="field-radio">
        <input type="radio" />
        <label>Radio</label>
        <input type="radio" />
        <label>Radio</label>
        <input type="radio" />
        <label>Radio</label>
        <br clear="left">
        <input type="radio" />
        <label>Radio Test</label>
        <input type="radio" />
        <label>Radio</label>
      </div>
      </div>
      
      <div class="field">
        <label>Text Area</label>
        <textarea></textarea>
        <p class="description">Description</p>
      </div>
      
      <div class="field">
        <label>Select</label>
        <select>
          <option disabled="true">Click to choose...</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
        </select>
        <p class="description">Description</p>
      </div>
      
      <div class="field-button">
        <button>Submit</button>
        <a href="#" class="button">Cancel</a>
      </div>
        
    </fieldset>
  </form>

</body>
</html>