<!DOCTYPE html>
<html>
<head>
  <title>form</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  
  <form>
    <fieldset>
      
      <div class="field-inline">
        <label>Alias</label>
        <input />
        <p class="description">As it appears to the recipient(s)</p>
      </div>
      
      <div class="field-inline">
        <label>Account</label>
        <select><option>select</option></select>
      </div>
      
      <div class="field">
        <label>To</label>
        <input />
        <p class="description"><a href="#">Add a contact or group</a></p>
      </div>
      
      <div class="field-radio">
        <input type="radio" checked="true" />
        <label>Text</label>
        <input type="radio" />
        <label>Voice</label>
      </div>
      
      <div class="field">
        <label>Message</label>
        <textarea></textarea>
      </div>
      
      <div class="field-button">
        <button>Submit</button>
        <a href="#" class="button">Cancel</a>
      </div>
        
    </fieldset>
  </form>

</body>
</html>