<!DOCTYPE html>
<html>
<head>
  <title>layout</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  
  <section id="top">
    
    <nav id="global">
      <p>test</p>
      <a href="#">test</a>
      <a href="#">test</a>
      <a href="#">test</a>
    </nav>
    
    <header>
      
      <a href="#" class="logo">logo</a>
      
      <article class="feature">
        article
      </article>
      
      <nav id="main">
        <a href="#">test</a>
        <a href="#">test</a>
        <a href="#">test</a>
      </nav>
      
    </header>
    
  </section>
  
  <section id="layout">
    
    <section>
      main section
    </section>
    
    <aside>
      aside
    </aside>
    
  </section>
  
  <section id="bottom">
    
    <footer>
      
      <address>
        company address
      </address>
      
      <nav>
        footer links
      </nav>
      
      <nav>
        footer links
      </nav>
    
      <p>
        small print
      </p>
      
    </footer>
    
  </section>

</body>
</html>